.example-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.mat_buttom {
    margin-left: 10px;
}

.mat_buttom_del {
    margin-left: 30%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}