<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="isActive('/')" [class.hover]="link1" (mouseover)="link1=true" (mouseout)="link1=false">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="catalog" [class.activated]="isActive('/catalog')" [class.hover]="link2" (mouseover)="link2=true" (mouseout)="link2=false">
        <mat-icon>shop</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="details" [class.activated]="isActive('/details')" [class.hover]="link3" (mouseover)="link3=true" (mouseout)="link3=false">
        <mat-icon>library_books</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="team" [class.activated]="isActive('/team')" [class.hover]="link4" (mouseover)="link4=true" (mouseout)="link4=false">
        <mat-icon>groups</mat-icon>
      </a>
    </li>
  </ul>
</nav>
