<div id="pokedex">
  <div class="sensor">
    <button></button>
  </div>

  <div class="camera-display">
    @if (spriteUrl) {
      <img [src]="spriteUrl" [alt]="name" loading="lazy"/>
    } @else {
      <img src="./assets/images/pokeball.png" alt="Loading"/>
    }
  </div>

  <div class="divider"></div>

  <div class="stats-display">
    <h1>Pokédex</h1>
    @if (name) {
      <h2>{{ name.charAt(0).toUpperCase() + name.slice(1) }}</h2>
      <h2>Pokémon ID: #{{ id }}</h2>
      
      @if (types.length > 0) {
        <h3>Type</h3>
        <ul>
          @for (type of types; track type; let i = $index) {
            @if (i < 2) {
              <li>{{ type.charAt(0).toUpperCase() + type.slice(1) }}</li>
            }
          }
        </ul>
      }
      
      @if (moves.length > 0) {
        <h3>Moves</h3>
        <ul>
          @for (move of moves; track move; let i = $index) {
            @if (i < 10) {
              <li>{{ move.charAt(0).toUpperCase() + move.slice(1) }}</li>
            }
          }
        </ul>
      }
    } @else {
      <h2>Loading...</h2>
    }
  </div>

  <div class="botom-actions">
    <div id="actions">
      <button class="a">
        <img src="./assets/images/pokeball.png" width="40px" height="45px" (click)="addPokemonToTeam()" alt="Add to team"/>
      </button>
    </div>

    <div id="cross">
      <button class="cross-button up"></button>
      <button class="cross-button right" (click)="prevID()"></button>
      <button class="cross-button down"></button>
      <button class="cross-button left" (click)="nextID()"></button>
      <div class="cross-button center"></div>
    </div>
  </div>

  <div class="bottom-modes">
    <button class="level-button"></button>
    <button class="level-button"></button>
    <button class="level-button"></button>
    <button class="level-button"></button>

    <button class="pokedex-mode black-button" (click)="showFrontImage()">Front</button>
    <button class="game-mode black-button" (click)="showBackImage()">Back</button>
  </div>
</div>
