<h1>Catálogo de Pokémon</h1>

@if (loading) {
  <div class="loading-container">
    <p>Loading Pokémon...</p>
  </div>
}

@if (error) {
  <div class="error-message">
    {{ error }}
  </div>
}

@if (!loading && !error) {
  <mat-grid-list cols="6" rowHeight="2:1" [@listStagger]="pokemons">
    @for (item of pokemons; track item.name; let i = $index) {
      <mat-grid-tile>
        <mat-card (click)="onItem(item)" [routerLink]="['/photo', extractPokemonId(item.url)]" class="poke-card">
          <mat-card-header>
            <mat-card-title class="pokeName">{{ capitalize(item.name) }}</mat-card-title>
          </mat-card-header>
          <img class="pokeImg" 
               [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + extractPokemonId(item.url) + '.png'" 
               [alt]="item.name"
               loading="lazy">
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
}

